body {
    min-height: 100%;
    margin: 0; 
    background-color: #ffffff;
}

html {
    height: 100%;
    margin: 0;
    padding: 0; 
}

.navbar {
    overflow: hidden;
    background-color: rgb(152, 175, 157);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.nav {
    display: inline;
    float: right;
}


li.nav a    {
display: block;
color: white;
text-align: center;
padding: 50px 40px;
text-decoration: none;
}

li.nav a:hover  {
    color: rgb(210, 235, 215);
    }




.main {
    margin-top: 140px; /* Add a top margin to avoid content overlay */
}

.app {
    padding: 40px;
    min-height: 100%;
}